In [65]:
import pandas as pd 
import numpy as np

In [66]:
carros=pd.read_csv('D:\\Users\\User\\Downloads\\tabela-fipe-historico-precos.csv')
carros

,Unnamed: 0,codigoFipe,marca,modelo,anoModelo,mesReferencia,anoReferencia,valor
0,0,038003-2,Acura,Integra GS 1.8,1992,11,2016,13041.0
1,1,038001-6,Acura,NSX 3.0,1995,3,2013,52339.0
2,2,038003-2,Acura,Integra GS 1.8,1992,3,2018,12423.0
3,3,038002-4,Acura,Legend 3.2/3.5,1998,5,2016,31067.0
4,4,038002-4,Acura,Legend 3.2/3.5,1998,2,2019,26381.0
...,...,...,...,...,...,...,...,...
466015,544147,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2011,2,2015,24811.0
466016,544148,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,6,2006,31503.0
466017,544149,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2011,8,2016,23582.0
466018,544150,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,7,2007,31990.0
466019,544151,061001-1,Walk,Buggy Walk Sport 1.6 8V 58cv,2022,4,2009,34425.0

In [67]:
#quantidades de registros

registro=carros.nunique()
registro

Unnamed: 0       466020
codigoFipe         5283
marca                84
modelo             5366
anoModelo            39
mesReferencia        12
anoReferencia        22
valor            164752
dtype: int64

In [68]:
#linhas e colunas

linhas_colunas=carros.shape
linhas_colunas

(466020, 8)

In [69]:
#nome e tipo de cada coluna

tipo=carros.dtypes
tipo

Unnamed: 0         int64
codigoFipe        object
marca             object
modelo            object
anoModelo          int64
mesReferencia      int64
anoReferencia      int64
valor            float64
dtype: object

In [70]:
#max

max=carros.max()
max

Unnamed: 0                               544151
codigoFipe                             095004-1
marca                                     smart
modelo           Ë-Jumpy Cargo 136cv (Elétrico)
anoModelo                                  2023
mesReferencia                                12
anoReferencia                              2022
valor                                 8407082.0
dtype: object

In [71]:
#min 

min=carros.min()
min

Unnamed: 0                  0
codigoFipe           001001-4
marca            ASTON MARTIN
modelo             100 2.8 V6
anoModelo                1985
mesReferencia               1
anoReferencia            2001
valor                  1871.0
dtype: object

In [72]:
#medias
media=carros.describe()
media.iloc[1]

Unnamed: 0       272398.094633
anoModelo          2008.968325
mesReferencia         6.453541
anoReferencia      2015.181181
valor            115745.599474
Name: mean, dtype: float64

In [73]:
##filtro do carros mais velho

menor_ano=carros['anoModelo'].min()
menor_ano

1985

In [74]:
##filtro do ano mais velho e menor preço

menor_preço=carros.query('anoModelo == 1985')
menor_preço
carros.groupby('valor').min()
menor_preço.iloc[0]

Unnamed: 0         100590
codigoFipe       001105-3
marca                Fiat
modelo               Oggi
anoModelo            1985
mesReferencia           5
anoReferencia        2022
valor              3289.0
Name: 92001, dtype: object

In [76]:
###agrupamento 

media_valor=carros.groupby(['codigoFipe', 'marca'])['valor'].mean()
media_valor

codigoFipe  marca
001001-4    Fiat           18014.750000
001002-2    Fiat           14847.750000
001003-0    Fiat           14325.250000
001004-9    Fiat           10084.000000
001005-7    Fiat           12045.000000
                              ...
093010-5    Caoa Chery    280010.000000
095001-7    BYD           515173.600000
095002-5    BYD           263135.666667
095003-3    BYD           539995.000000
095004-1    BYD           270020.000000
Name: valor, Length: 5283, dtype: float64

In [81]:
####Você escolhe qual opção

descrição=int(input('Escolha descrição 1 para descritiva, 2 para filtra ou 3 para agrupamento'))
print(descrição)

3

In [82]:
if descrição == 1:
    print(f'descritiva \r\n (registro)\r\n{registro} \r\n\r\n,(número linhas e coluna ){linhas_colunas},\r\n\r\n(tipo)\r\n{tipo},\r\n\r\n(max){max}\r\n\r\n (min){min}\r\n\r\n (media){media}')
elif descrição == 2:
    print(f'filtro \r\n (mais velho)\r\n{menor_ano} \r\n\r\n,(menor preço)\r\n{menor_preço}')
else:
    descrição == 3
    print(f'agrupamento \r\n (media de valores) \r\n{media_valor}')

agrupamento
 (media de valores)
codigoFipe  marca
001001-4    Fiat           18014.750000
001002-2    Fiat           14847.750000
001003-0    Fiat           14325.250000
001004-9    Fiat           10084.000000
001005-7    Fiat           12045.000000
                              ...
093010-5    Caoa Chery    280010.000000
095001-7    BYD           515173.600000
095002-5    BYD           263135.666667
095003-3    BYD           539995.000000
095004-1    BYD           270020.000000
Name: valor, Length: 5283, dtype: float64